*{
    box-sizing: border-box;
}
aside, div, section, header, footer, nav {
    display: block;
}
/*degradé du fond du body*/

body{
font-family: "Arial", Arial, sans-serif;
    font-size: 15px;
    margin: 0 auto;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

main{
    margin: 0;
    padding: 0;
}


/****** HEADER *****************/
header {
    width: 100%;
    border-bottom: 1px solid black;
;
}
#logo{
    width: 10%;
    margin-top: 10px;
    margin-left: 10px;
}

nav ul{
    list-style: none;

}

nav li {
    float: left;
    margin-right: 30px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #d7d7d7;
}

nav li:hover {
    border: 1px solid black;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius: 10px;
}

nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    padding-left: 30px;
    width: 50%;
}

header p a{
    color: red;

}

header a {
    text-decoration: none;
}

#header-right {
    display: inline-block;
    width: 38%;
    text-align: right;
    vertical-align: top;
}

#coordonees {
    display: inline-block;
   padding-top: 10px;
}

#coordonees p{
    display: inline-block;
    margin-left: 35px;
    padding-right: 5px;

}

#coordonees p:last-of-type {
    height: 10px;
    -webkit-transition: height 2s linear; /* For Safari 3.1 to 6.0 */
    transition: width 2s linear;
    position: absolute;
    top: 80px;
    left: 900px;
    z-index: 0;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

#coordonees p:last-of-type:hover {
    border: 1px solid black;
    background-image: url("../images/map.JPG");
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius: 10px;
    height: 200px;
    z-index: 100;
}

/****END HEADER *******************/

/* debut css des articles de la 1ère section de l'index*/

main section article{
    width: calc(90%/4);
    display: inline-block;
    text-align: center;
    margin-left: 1.5%;
}
main section article:first-of-type{
    margin: 0;
}
main section article img{
    width: 300px;
    height: 220px;
    -moz-box-shadow: 5px 5px 5px LightBlue;
    -webkit-box-shadow: 5px 5px 5px LightBlue;
    box-shadow: 5px 5px 5px LightBlue;
    border: 1px solid black;
}
/*fin du css des article de la 1ère section de l'index*/

/*css de la section 1 et 2 de l'index*/

main section:nth-of-type(2){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
main section:nth-of-type(3){
    height: 200px;
    margin-top: 5%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
    background: #b0d4e3; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #b0d4e3 0%, #88bacf 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #b0d4e3 0%,#88bacf 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #b0d4e3 0%,#88bacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*fin du css des sections de l'index*/

footer {
    background-color: black;
    height: 20%;
}

.subtitle {
    color: white;
    font-size: 24px;


}

.contact {
    display:inline-block;
    width: 25%;
    vertical-align: top;
    float: left;
    margin-left: 10%;

}

.explorer {

    display:inline-block;
    width: 25%;
    text-align: center;

}

.media_sociaux {

    display:inline-block;
    width: 25%;
    vertical-align: top;
    float: right;

}

footer a:visited {
    color: grey;
}
footer a:link {
    color:grey;
}

footer p{
    color: white;
    text-align: center;
}

#wrapper-form main {
    width: 50%;
}

label
{

    width: 150px;
}


