/***************** FONTS ************************************/

@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortafont/comfortaa_bold-webfont.eot');
    src: url('../fonts/comfortafont/comfortaa_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/comfortafont/comfortaa_bold-webfont.woff2') format('woff2'),
    url('../fonts/comfortafont/comfortaa_bold-webfont.woff') format('woff'),
    url('../fonts/comfortafont/comfortaa_bold-webfont.ttf') format('truetype'),
    url('../fonts/comfortafont/comfortaa_bold-webfont.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortafont/comfortaa_regular-webfont.eot');
    src: url('../fonts/comfortafont/comfortaa_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/comfortafont/comfortaa_regular-webfont.woff2') format('woff2'),
    url('../fonts/comfortafont/comfortaa_regular-webfont.woff') format('woff'),
    url('../fonts/comfortafont/comfortaa_regular-webfont.ttf') format('truetype'),
    url('../fonts/comfortafont/comfortaa_regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'comfortaabold';
}

h5 {
    font-size:100%;
}


/********************* FIN de FONTS *************************************/

*{
    box-sizing: border-box;
}

/****** ELEMENT ANIMATION **********************************/
.element-animation {
    position: absolute;
    top:100px;
    left: 200px;
    z-index: 20;
}

.element-animation{

    animation: animationFrames ease-out 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease-out 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: animationFrames ease-out 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease-out 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease-out 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
    0% {
        opacity:0;
        transform:  translate(1500px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        transform:  translate(1000px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        transform:  translate(1000px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        transform:  translate(1000px,0px)  skewX(0deg) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(1400px,1000px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -moz-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(1400px,1000px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -webkit-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity:0;
        -o-transform:  translate(1400px,1000px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -o-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(1400px,1000px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

/****** FIN d'ELEMENT ANIMATION***************************/




aside, div, section, header, footer, nav {
    display: block;
}

/*degradé de fond du body*/

/*degradé du fond du body*/

body {
    font-family: 'comfortaaregular';
    /*font-family: "Arial", Arial, sans-serif;*/
    font-size: 15px;
    margin: 0 auto;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%, #cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #eeeeee 0%, #cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

main {
    margin: 0;
    padding: 0;
}

/****** HEADER *****************/
/* unvisited link */
 header a:link {
    color: #000000;
}

/* visited link */
header a:visited {
    color: #000000;
}

/* mouse over link */
header a:hover {
    color: #000000;
}

/* selected link */
header a:active {
    color: #000000;
}
header {
    font-family: 'comfortaaregular';
    letter-spacing: 1px;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;;
}

header img {
    width: 10%;
    margin-top: 1%;
    margin-left: 1%;
}

nav ul {
    list-style: none;

}

nav li {
    float: left;
    margin-right: 2%;
    font-size: 130%;
    padding: 2%;
    border: 1px solid #d7d7d7;
    font-family: 'comfortaabold';
}

nav li:hover {
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

nav {
    display: inline-block;
    vertical-align: top;
    width: 56%;
    padding-top: 1.5%;
}

header a {
    text-decoration: none;
}

header div:first-of-type {
    display: inline-block;
    width: 300px;
    text-align: right;
    vertical-align: top;
    padding-right: 20px;
    float: right;
}

header div:last-of-type {
    letter-spacing: 3px;
    word-spacing: 5px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    font-size: 100%;
}

header div:first-of-type input {
    width: 200px;
    text-align: center;
    padding-top: 2%;
    border-radius: 7px;
    font-family: 'comfortaaregular';
}

header div:first-of-type form img {
    margin: 0;
    width: 20px;
}

/****END HEADER *******************/

/***** DEBUT DE L'INDEX *******/

/* debut css des articles de la 1ère section de l'index*/

main section article {
    width: calc(98% / 4);
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

main section article:first-of-type {
    margin: 0;
}

main section article img {
    width: 100%;
    height: 200px;
    /*ombre externe sur les images*/
    -moz-box-shadow: 5px 5px 5px LightBlue;
    -webkit-box-shadow: 5px 5px 5px LightBlue;
    box-shadow: 5px 5px 5px LightBlue;
    border: 1px solid black;
    /*arrondie sur les images*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/*fin du css des article de la 1ère section de l'index*/

/*css de la section 1 et 2 de l'index*/

main section:nth-of-type(2) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #cedce7 0%, #596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cedce7', endColorstr='#596a72', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

main section:nth-of-type(3) {
    height: 150px;
    margin-top: 2%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
    background: #b0d4e3; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #b0d4e3 0%, #88bacf 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #b0d4e3 0%, #88bacf 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #b0d4e3 0%, #88bacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0d4e3', endColorstr='#88bacf', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

main section p {
    display: inline-block;
    width: calc(80% / 2);
    height: 150px;
    vertical-align: top;
    text-align: center;
    margin: 0 auto;
    /* background-color: red;*/
}

main section span {
    margin-right: 2%;
    vertical-align: top;
    line-height: 150px;
    font-size: x-large;
    /*  font-family: Georgia;*/
    -moz-text-shadow: 2px 2px white;
    -webkit-text-shadow: 2px 2px white;
    -ms-text-shadow: 2px 2px white;
    -o-text-shadow: 2px 2px white;
    text-shadow: 2px 2px white;
}

main section img {
    width: 65px;
}

main section button {
    vertical-align: top;
    margin-top: 3.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

main section p:last-of-type {
    vertical-align: top;
    line-height: 25px;
    padding-top: 3%;
    padding-left: 10%;
    font-family: Georgia;
    width: 30%;
    font-size:100%;
    -moz-text-shadow: 1px 1px white;
    -webkit-text-shadow: 1px 1px white;
    -ms-text-shadow: 1px 1px white;
    -o-text-shadow: 1px 2px white;
    text-shadow: 1px 1px white;
}

main section article h4 {
    -moz-text-shadow: 1px 1px white;
    -webkit-text-shadow: 1px 1px white;
    -ms-text-shadow: 1px 1px white;
    -o-text-shadow: 1px 2px white;
    text-shadow: 1px 1px white;
}

main section article h4:hover {
    color: blue;
    transform: scale(2);
    transition: all 2s ease;
}

/*debut slider*/
/*carousel conteneur général*/
#slider {
    width:1200px; /*on définit une largeur du slider afin de le centrer*/
    height:400px; /*on définit la hauteur du slider*/
    margin:auto;/*on centre le slider*/
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 2%;
    /*ombre externe sur les images*/
    -moz-box-shadow: 10px 10px 10px gray;
    -webkit-box-shadow: 10px 10px 10px gray;
    box-shadow: 10px 10px 10px gray;
    border: 1px solid black;
    /*arrondie sur les images*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/*conteneur des images du carousel*/
#slider #slider-container{
    width: 6000px;
    position: relative;
    -moz-animation: slidy 20s;
    -webkit-animation: slidy 20s;
    animation: slidy 20s infinite;
}

/*images contenues dans le carousel*/
#slider #slider-container img{
    width: 1200px;
    height:400px;
    display: inline-block;
}
/*on définit l'animation via plusieurs keyframes*/
@keyframes slidy{

    0%  {left: 0px;}
    20% {left:-1200px;}
    40% {left:-2400px;}
    60% {left:-3600px;}
    80%{left:-4800px; }
}
/*fin slider*/
/***********TABLET**********/
@media only screen and (max-width:950px){
  main{
      width: 950px;
  }
}
/***********MOBILE**********/
@media only screen and (max-width:640px){
    main{
        width: 100%;
    }
    #slider{
        display: none;
    }
    main section article{
        display: block;
        width: 100%;
    }
    main section button{
        margin-top:10%;
    }
    main section p:last-of-type {
        display: none;
    }
}

/*******FIN DE L'INDEX******/

/*******DEBUT GALERIE******/

#galerie {
    margin-left: 1%;
    margin-top: 2%;
}
#galerie ul {
    list-style: none;
}
#galerie ul li img {
    width: 320px;
    height: 220px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid black;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    /*arrondie sur les images*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

}
#galerie ul li {
    margin: 0 auto;
}

/*largeur d'1 colonne pour desktop*/

.col-1 {
    width: 8.33%;
}

/*largeur de 2 colonnes pour desktop*/
.col-2 {
    width: 16.66%;
}

/*largeur de 3 colonnes pour desktop*/
.col-3 {
    width: 25%;
}

/*largeur de 4 colonnes pour desktop*/
.col-4 {
    width: 33.33%;
}

/*largeur de 5 colonnes pour desktop*/
.col-5 {
    width: 41.66%;
}

/*largeur de 6 colonnes pour desktop*/
.col-6 {
    width: 50%;
}

/*largeur de 7 colonnes pour desktop*/
.col-7 {
    width: 58.33%;
}

/*largeur de 8 colonnes pour desktop*/
.col-8 {
    width: 66.66%;
}

/*largeur de 9 colonnes pour desktop*/
.col-9 {
    width: 75%;
}

/*largeur de 10 colonnes pour desktop*/
.col-10 {
    width: 83.33%;
}

/*largeur de 11 colonnes pour desktop*/
.col-11 {
    width: 91.66%;
}

/*largeur de 12 colonnes pour desktop*/
.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;

}

.row:after {
    content: ""; /*on crée un espace vide*/
    clear: both; /*on annule l'effet de float*/
    display: block; /*cela permet d'avoir un retour à la ligne*/

}
/***********TABLET**********/
@media only screen and (max-width:950px){

    /*largeur d'1 colonne pour tablet*/

    .col-m-1{
        width:8.33%;
    }
    /*largeur de 2 colonnes pour tablet*/
    .col-m-2{
        width:16.66%;
    }
    /*largeur de 3 colonnes pour tablet*/
    .col-m-3 {width: 25%;}

    /*largeur de 4 colonnes pour tablet*/
    .col-m-4 {width: 33.33%;}

    /*largeur de 5 colonnes pour tablet*/
    .col-m-5 {width: 41.66%;}

    /*largeur de 6 colonnes pour tablet*/
    .col-m-6 {width: 50%;}

    /*largeur de 7 colonnes pour tablet*/
    .col-m-7 {width: 58.33%;}

    /*largeur de 8 colonnes pour tablet*/
    .col-m-8 {width: 66.66%;}

    /*largeur de 9 colonnes pour tablet*/
    .col-m-9 {width: 75%;}

    /*largeur de 10 colonnes pour tablet*/
    .col-m-10{
        width:83.33%;
    }

    /*largeur de 11 colonnes pour tablet*/
    .col-m-11{
        width:91.66%;
    }

    /*largeur de 12 colonnes pour tablet*/
    .col-m-12{
        width:100%;
    }

}
/***********MOBILE**********/
@media only screen and (max-width:640px){

    [class*="col-"]{
        width:100%;
        padding:0 0;
    }
}
/*debut zoom*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(211,211,211); /* Fallback color */
    background-color: rgba(211,211,211,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.2s;
    animation-name: zoom;
    animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;}
/*fin zoom*/


/*******FIN GALERIE******/
/*******DEBUT FOOTER******/


footer {
    background-color: black;
    height: 20%;
}

.subtitle {
    color: white;
    font-size: 125%

}

.contact {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    float: left;
    margin-left: 10%;

}

.explorer {

    display: inline-block;
    width: 25%;
    text-align: center;

}

.media_sociaux {

    display: inline-block;
    width: 25%;
    vertical-align: top;
    float: right;

}

footer a:visited {
    color: grey;
}

footer a:link {
    color: grey;
}

footer p {
    color: white;
    text-align: center;
}

/*******FIN FOOTER******/

/*******Debut FOOTER Mobile****/

#mobile {
    display: none;
}

#mobile ul li{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 3%;
}


#mobile ul li img {
    width: 33.3%;
}


/********** FORMULAIRE **********************************/

input:required:invalid, input:focus:invalid {
    border: solid red 1px;

}

#wrapper-form main {
    width: 100%;
    height: 100%;
}


#wrapper-form label {
    display: inline-block;
    width: 30% ;
}
#wrapper-form span {
    font-family: 'comfortaabold';
}

#wrapper-form input {
    border-radius: 5px;
}


fieldset{
    background-color:#CCC;
    border-radius: 5px;
}

fieldset legend{
    font-size: x-large;
    font-family: 'comfortaabold';
}

fieldset ul li {
    width: 45%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;

}


#wrapper input {
    margin-left: 2%;
    text-align: left;
}


fieldset ul li:nth-child(n+5){
    width: 100%;
}

fieldset ul{
    -webkit-padding-start: 0px;
}

#wrapper-form span {
    display: block;
    margin-bottom: 2%;
}


button {
    margin-right: 5%;
}

#googleMap {
    display: inline-block;
}


#wrapper-form form {
    width: 50%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
}

article {
    display: inline-block;
}

#googleMapdiv {
    display: inline-block;
    width: 25%;
}

#wrapper-form label[for*="age"]{
    width: 10%;
}

#wrapper-form label[for*="homme"]{
    width: 10%;
}

#wrapper-form label[for*="femme"]{
    width: 10%;
}

#wrapper-form label[for*="avant-midi"]{
    width: 15%;
}
#wrapper-form label[for*="apres-midi"]{
    width: 15%;
}

#wrapper-form label[for*="soiree"]{
    width: 15%;
}

#commentaire {
    border-radius: 7px;
}



/********* CSS Training ***************/

.centervideo {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
}

.sectionvideo {
    display: inline-block;
    text-align: center;
    border: solid black;
    width: 47%;
    margin: 1%;
}

.videoscategories {
    margin-left: 5%;
    width: 70%;
    display: inline-block;

}

.top_populaire p {
    display: inline-block;
    vertical-align: top;

}

.top_populaire img {
    width: 20%;
    height: 20%;

}

.topcategories {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
}
.centervideo img {
    margin-left: 1%;
    width: 28%;
    vertical-align: top;
}

/******************* BOUTIQUE **********************************/

#boutique {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#boutique>div h2 {
    padding-left: 30px;
    padding-top: 20px;
}

#boutique img {
    /*height: 150px;*/
    width: 65%;
}

/*#boutique > div > div > div*/
.products{
    background-color: white;
    width: 20%;
    margin: 0 2.33% 2.33% 2.33%;
text-align: center;
    padding: 20px ;
    height: 300px;
    display: inline-block;
    border-radius: 7px;
   /* border: 1px solid black;*/
}

.products:hover{
    transform: scale(1.4);
    transition: all 0.5s ease-in;
}

.products p,.products h3 {
    text-align: left;
    margin: 10px 0 10px 0;
}

.products p {
    font-size: 85%;
}


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 6px;
    padding-top: 20px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 20s infinite linear;
    -moz-animation: scroll 20s infinite linear;
    animation: scroll 20s infinite linear;
}

/******************* PRODUIT**********************************/

#produit {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'comfortaaregular';
    letter-spacing: 0.5px;
    line-height: 200%;
}


#produit h3 {
    font-size: 200%;
}

#produit > div > div:first-of-type h3 {
    color: #551a8b;
}

#produit > div:first-of-type {
    background-color: white;
    width: 32%;
    border-radius: 20px;
    padding-top: 20px;
    margin: 45px 40px 0 20px;
}

#produit img {
    width: 90%;
}

#produit div {
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    vertical-align: top;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

#produit strong {
    font-size: 90%;
}

#produit div div:first-of-type {
    display: inline-block;
    width: 90%;
}

#produit div div:last-of-type > h3 {
    display: inline;
    /*width: 50px;*/
}

#produit div div:last-of-type > h2 {
    display: inline;
   /* width: 50px;*/
    margin-left: 8%;
    color: red;
}

#produit table {

    border-collapse: collapse;

    width: 90%;
    margin-left: 15%;
    margin-right: 15%;
}

#produit table tr td {
    /* border: 1px solid black;*/
    border-radius: 20px;
    font-size: 85%;
    padding-left: 5px;
    padding-right: 5px;
}

#produit table tr:last-of-type {
    line-height: 150%;
}

#produit th {
    padding: 10px;
    color: #551a8b;
}

/*#produit th:hover{

}*/

#produit tr:nth-child(odd):hover {
    background: lightgray;
}

#produit tr:nth-child(even):hover {
    background: lightblue;
}




















/************************************************************************************************************************/
/***************   MEDIA QUERIES   ****************************************/
/*************************************************************************************************************************/

@media only screen and (max-width: 950px) {


    /*******************   TABLETTE HEADER   *****************/
    nav ul {
        display: inline-block;
        width: 90%;
        text-align: center;
        padding: 0;
      }

    nav li {
        float: none;
        display: inline-block;
        margin: 0 3.75% 0 3.75%;
        font-size: 100% ;
        padding: 1%;
    }

    nav {
        padding-top: 5px;
        width: 88%;
        text-align: center;
    }


    header div:first-of-type {
        width: 100%;
        text-align: right;
        display: block;
    }

    header div:last-of-type {
        letter-spacing: 3px;
        word-spacing: 5px;
        font-size: 80%;
        padding-top: 50px;

    }

    header form {
        display: inline-block;
        width: 50%;
    }

    header div:first-of-type input {
        width: 70%;
    }

    header div:first-of-type p{
      display: inline-block;
        padding-right: 40%;
        font-size: 80%;
    }
footer ul li ul {

}

/*******************   TABLETTE FOOTER   *****************/
    .contact {
        margin-left: 1%;

    }

    .explorer {
        margin-left: 10%;
    }
    footer p {
        display: none;
    }



    /********** TABLETTE BOUTIQUE *******************************/

    #boutique {
        width: 95%;

    }

    #boutique > div h2 {
        padding-left: 0px;
        padding-top: 20px;
    }

    #boutique img {
        /*height: 150px;*/
        width: 65%;
    }


    .products {
        background-color: white;
        width: 25%;
        margin: 0 2.33% 2.33% 2.33%;
        text-align: center;
        padding: 1%;
        height: 300px;
        display: inline-block;
        border-radius: 7px;
        /* border: 1px solid black;*/
    }

    .products:hover {
        transform: scale(1.4);
        transition: all 0.5s ease-in;
    }

    .products p, .products h3 {
        text-align: left;
        margin: 10px 0 10px 0;
    }

    .products p {
        font-size: 12px;
    }



    /********************** TABLETTE PRODUIT *****************/

    #wrapper-form form{
        width: 80%;
    }
    #produit > div:first-of-type {
        width: 50%;
        margin: 2% 25% 0 25%;
        border-radius: 20px;
        padding-top: 20px;
    }

    #produit img {
        width: 90%;
    }
    #produit div {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #produit h3 {
        margin-top: 1%;
    }

#produit p {
    width: 100%;
}

    #produit div div:first-of-type {
        display: inline-block;
        width: 100%;
    }


    #produit table {
        width: 90%;
        margin: 0 auto;
    }


/********************** TABLETTE Training *****************/
.top_populaire{
        margin-bottom: 10%;
    }
.top_populaire img{
    display: none;

}
.topcategories{
    display: none;
}

.centervideo img {
    display: none;
}





    /********************** TABLETTE Formulaire *****************/

#googleMapdiv{
    display: block;
}
    h5 {
        font-size:150%;
    }



}

/********** POUR MOBILES *************************/
@media only screen and (max-width: 640px) {

 /******************* MOBILE   HEADER   *****************/

nav{
width: 100%;
padding: 0 auto;
margin: 0 auto}

    nav ul{
        width: 100%;
    display: block;
    }

    nav li{
        padding: 0 auto;
        margin: 0 auto;
        width: 100%;
    float: none;
    text-align: center;
}

    header>a img {
        display: none;
    }

    header div:last-of-type {
        letter-spacing: 0px;
        word-spacing: 0px;
        font-size: 76%;
    }

    header form {
        width: 84%;
        padding-top: 5px;
    }

    header div:first-of-type input {
        width: 88%;
    }

    header div:first-of-type p{
        padding-right: 0;
    }
    /******************* MOBILE   Footer   *****************/
    footer:last-of-type{
        display: none;
    }

    #mobile{
        display: block;
    }


/************* DROPDOWN MENUE **********************/
    .onclick-menu {
        position: relative;
        display: inline-block;
    }
    .onclick-menu:before {
        content: "Menue";
    }
    .onclick-menu:focus .onclick-menu-content {
        display: block;
    }
    .onclick-menu-content {
        display: none;
    }

    /**********************************************************

/******************** MOBILE BOUTIQUE ****************************************/

    .products {
        width: 90%;
        height: 20%;
        margin: 0 7% 3% 7%;
    }

    .products:hover {
        transition: none;
        transform: none;
    }


    #boutique {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #boutique img {
        /*height: 150px;*/
        width: 25%;
        float: left;
    }





  /********************* MOBILE PRODUIT ********************************/
 #produit {
    font-size: 80%;
 }

    #produit h3 {
        font-size: 110%;

}

    #produit table {
        width: 100%;
    }

/********************* MOBILE Training ********************************/

    .centervideo {
        margin-left: 0%;
    }

    .centervideo video {
        width: 100%;
    }
    .sectionvideo{
        width: 90%;
    }
    .videoscategories{
        width: 100%;
    }




 /********************* MOBILE Formulaire ********************************/

  .contact {
      width: 100%;
  }
  .explorer{
      margin-left: 0%;
      width: 100%;}

    .media_sociaux {
        width: 100%;
    }
    #googleMapdiv{
        display: none;
    }
    fieldset ul li {
        width: 100%;
    }
    #wrapper-form label[for*="homme"] {
        width: 15%;
    }
    #wrapper-form label[for*="femme"] {
        width: 15%;
    }
}